:root {
  --primaryfont: "Roboto", sans-serif;
  --primarycolor: #2e2f42;
  --whitecolor: #ffffff;
  --secondarycolor: #4d5ae5;
}
body {
  font-family: var(--primaryfont);
  color: #434455;
  background-color: var(--whitecolor);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}
.nav .logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #404bbf;
  text-decoration: none;
  margin-right: 76px;
}
.logo {
  color: #404bbf;
}
.studio {
  color: var(--primarycolor);
}
.studio-name {
  color: #404bbf;
}
.portfolio-name {
  color: #404bbf;
}
.nav .list .link {
  color: #404bbf;
}

.speciall::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 66px;
}
.special::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
}
.speciall {
  color: #404bbf;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.special {
  color: #404bbf;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .list {
  display: flex;
  gap: 40px;
}
.nav .list .link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .list .link:hover,
.nav .list .link:focus,
.nav .list .link:active {
  color: #404bbf;
}
.adress {
  font-style: normal;
}
.adress .list {
  display: flex;
  gap: 40px;
  padding-left: 332px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adress .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress .list .link:hover,
.adress .list .link:focus,
.adress .list .link:active {
  color: #404bbf;
}
.main-section {
  background-color: var(--primarycolor);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpeg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.page-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: var(--secondarycolor);
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.list-heading {
  color: var(--primarycolor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.heading {
  color: var(--primarycolor);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.name {
  color: var(--primarycolor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.list-image {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}
.team-icons-li {
  width: 40px;
  height: 40px;
}
.team-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

.customers {
  padding: 120px 0;
}
.heading-sec5 {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-li {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icons {
  fill: currentColor;
}
.footer {
  background-color: var(--primarycolor);
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-paragraph {
  margin-right: 120px;
}
.media-paragpraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-li {
  width: 40px;
  height: 40px;
}
.footer-link-icon {
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus,
.footer-link-icon:active {
  background-color: #31d0aa;
}
.footer .link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondarycolor);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-icons {
  fill: #f4f4fd;
}
.studia {
  color: #f4f4fd;
}
.logo {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.button-list {
  background-color: #f4f4fd;
  color: var(--secondarycolor);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list:hover,
.button-list:focus,
.button-list:active {
  background-color: #404bbf;
  color: var(--whitecolor);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list .link {
  text-decoration: none;
  color: inherit;
}
.heading-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primarycolor);
  margin-bottom: 8px;
}

.paragraph-portfolio {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding: 120px 0;
}
.features .list {
  display: flex;
  gap: 24px;
}
.features .list-elements {
  width: calc((100% - 72px) / 4);
}
.purpose {
  padding-bottom: 120px;
}
.purpose .heading {
  margin-bottom: 72px;
}
.purpose .list {
  display: flex;
  gap: 24px;
}
.purpose .list-elements {
  width: calc((100% - 3 * 16px) / 3);
}
.team .heading {
  margin-bottom: 72px;
}
.team .list {
  display: flex;
  gap: 24px;
}
.team-name {
  padding: 32px 0;
}
.team .list-image {
  border-radius: 0px 0px 4px 4px;
}
.footer .logo {
  max-width: 264px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.list-apps {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.link-apps {
  width: calc((100% - 48px) / 3);
}
.div-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.link-apps .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-image {
  position: relative;
  overflow: hidden;
}
.app-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-apps .link:hover .app-paragraph,
.link-apps .link:focus .app-paragraph {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.link-apps .link:hover,
.link-apps .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.button-close-window {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-window:hover,
.button-close-window:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-label {
  color: #8e8f99;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}
.form-heading {
  width: 360px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
.form-box {
  margin-bottom: 8px;
}
.input-box {
  position: relative;
}
.icon-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.form-input:focus + .icon-form {
  fill: #4d5ae5;
}
.form-comment {
  margin-bottom: 16px;
}
.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.checkbox-container {
  margin-bottom: 24px;
}
.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-checkbox:checked + .label-checkbox .label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.policy-link {
  color: #4d5ae5;
}
.button-modal {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus,
.button-modal:active {
  background-color: #404bbf;
}
.subscribe-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px
}

.input-footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.input-footer::placeholder {
  color: #ffffff;
}
.bttn-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-left: 24px;
}
.icon-bttn {
  fill: #ffffff;
  margin-left: 16px;
}
.subsribe-container {
  margin-left: 80px;
}
.bttn-footer:hover,
.bttn-footer:focus,
.bttn-footer:active {
  background-color: #404bbf;